# Basic Python Support
pandas==2.2.3
python-dotenv==1.1.0

# Samples
aiohttp
bs4
jinja2
wikipedia
typing

# OpenAI
openai==1.77

# Azure 
azure-identity==1.22.0
azure-ai-evaluation==1.6.0

azure-ai-projects==1.0.0b10
azure-search-documents==11.4.0
azure-ai-inference==1.0.0b9

# Guide
# mkdocs-material