# Basic Python Support
pandas
python-dotenv

# Samples
aiohttp
bs4
jinja2
wikipedia
typing

# OpenAI
openai==1.77

# Azure 
azure-identity
azure-ai-evaluation==1.6.0

azure-ai-projects
azure-search-documents
azure-ai-inference

# Guide
# mkdocs-material